/* TODO Cleaning CSS*/

body {
        background-color: #f1fffd;
        font-family: Sans-Serif;
        margin: 0px;
        color: hsl(0, 0%, 15%);
      }

#whiteParagraph{
        height: 30rem;
        width: 30cm;
}

.paragraph {
        margin: 50px auto;
        width: 70%;
        font-size: 1.6em;
        text-align: justify;
        text-justify: inter-word;

        animation: fadeInAnimation ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;

}

@keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
         }
    }

.problem {
        margin: 30px auto;
        font-weight: 700;
        text-align: center
}

.machine {
        background-color: #3fceb8;
        color: #ffffff;
        padding: 30px;
}

.centeredscreen {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.marged{
        margin: 20px auto;
}

.centeredtext {
        text-align: center
}

.centeredelement {
        display: flex;
        align-items: center;
        justify-content: center;
}

.input{
        margin: 10px;
        border: 2px groove;
        color: #252525;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 14px;
        font-size: 1.6em;
}

.output{
        margin: 10px;
        border: 2px groove;
        color: #252525;
        padding: 15px 32px;
        text-decoration: none;
        width: 1000px;
        border-radius: 14px;
        font-size: 1.6em;
        background: #7ce0d1;
}

.button{
        margin: 10px;
        border: 2px groove;
        color: #252525;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 14px;
        font-size: 1.2em;
}

.button:hover{
        background: #3fceb8;
        color: #f1fffd;
        animation: buttonanimation ease 1s;
        border: 2px groove;
        cursor: pointer
   }

@keyframes buttonanimation {
        0% {
                background: #f1fffd;
                border: 2px groove;
                /*color: #252525;*/
        }
        50% {
                /*color: #f1fffd;*/
        }
        100% {
                background: #3fceb8;
                border: 2px groove;
                }
        }

@font-face {
        font-family: "BabyDoll";
        src: url("./fonts/BabyDoll.ttf") format("truetype")
}

.transactionLine {
        background-color: #bbf0e8;
        font-family: "BabyDoll";
        font-size: 1.6em;
        padding: 20px 15%;
        margin: 5px;
        border-radius: 50px;
        text-align: justify;
        color :#252525;
        white-space: nowrap;
}

.notValidatedLine {
        background-color: #bbf0e8;
}

.noWrap {
        display: flex;
        width: 100%;
        white-space: nowrap;
        overflow-x: auto;
}

.insideTransaction {
        width: 70%;
}

.spriteWrapper {
        width: 120px;
        text-align: center;
}

.clickable:hover {
        cursor: pointer;
}

.inline{
        display : inline;
}

.amountForm{
        width : 20%;
        height : 80px;
        font-size: 1.6em;
        border-radius: 20px;
        text-align: right;
        font-family: "BabyDoll";
        margin-right: 20px;
}

.list {
        display : list-item;
}

.validateWrapper{
        width : 50px;
}

.displayAmount{
        font-size: 1.6em;
        width : 40%;
        display: flex;
        align-items: center;
        justify-content: center;
}

.inputWrapper{
        width : 300px;
}

.validate{
        width : 20%;
        height : 80px;
        font-size: 1.6em;
        border-radius: 20px;
        text-align: right;
        align-items: center;
}

.validate:hover{
        cursor: pointer;
}

.responsiveImage{
        width: 100%;
        height: auto;
}

.blankspace{
        height: 100px;
}

.villageContainer{
        position: relative;
        width : 100%;
        height: 800px;
}

#singevillager{
        position:absolute;
        left:15%;
}

#grenouillevillager{
        position:absolute;
        left:15%;
        top:35%;
}

#pingouinvillager{
        position:absolute;
        left:15%;
        top:70%;
}

#toucanvillager{
        position:absolute;
        left:75%;
        top:35%;
}

#paresseuxvillager{
        position:absolute;
        left:45%;
        top:35%;
}

#chatvillager{
        position:absolute;
        left:75%;
        top:70%;
}


.Singeletter-up-down{
        position:absolute;
        left:15%;

        animation-name: updownanimation, hideAnimation;
        animation-duration: 9000ms, 0ms;
        animation-delay: 0ms, 9000ms; /* add this */
        animation-timing-function: ease, ease-in;
        animation-iteration-count: 1, 1;
        animation-fill-mode: none, forwards;
}

.Grenouilleletter-down-up{
        position:absolute;
        left:15%;
        top:35%;

        animation-name: downupanimation, hideAnimation;
        animation-duration: 9000ms, 0ms;
        animation-delay: 0ms, 9000ms; /* add this */
        animation-timing-function: ease, ease-in;
        animation-iteration-count: 1, 1;
        animation-fill-mode: none, forwards;
}

.Grenouilleletter-up-down{
        position:absolute;
        left:15%;
        top:35%;

        animation-name: updownanimation, hideAnimation;
        animation-duration: 9000ms, 0ms;
        animation-delay: 0ms, 9000ms; /* add this */
        animation-timing-function: ease, ease-in;
        animation-iteration-count: 1, 1;
        animation-fill-mode: none, forwards;
}

.Pingouinletter-down-up{
        position:absolute;
        left:15%;
        top:70%;

        animation-name: downupanimation, hideAnimation;
        animation-duration: 9000ms, 0ms;
        animation-delay: 0ms, 9000ms; /* add this */
        animation-timing-function: ease, ease-in;
        animation-iteration-count: 1, 1;
        animation-fill-mode: none, forwards;
}

.Grenouilleletter-left-right{
        position:absolute;
        left:15%;
        top:35%;

        animation-name: leftrightanimation, hideAnimation;
        animation-duration: 9000ms, 0ms;
        animation-delay: 0ms, 9000ms; /* add this */
        animation-timing-function: ease, ease-in;
        animation-iteration-count: 1, 1;
        animation-fill-mode: none, forwards;
}

.Paresseuxletter-right-left{
        position:absolute;
        left:45%;
        top:35%;

        animation-name: rightleftanimation, hideAnimation;
        animation-duration: 9000ms, 0ms;
        animation-delay: 0ms, 9000ms; /* add this */
        animation-timing-function: ease, ease-in;
        animation-iteration-count: 1, 1;
        animation-fill-mode: none, forwards;
}

.Paresseuxletter-left-right{
        position:absolute;
        left:45%;
        top:35%;

        animation-name: leftrightanimation, hideAnimation;
        animation-duration: 9000ms, 0ms;
        animation-delay: 0ms, 9000ms; /* add this */
        animation-timing-function: ease, ease-in;
        animation-iteration-count: 1, 1;
        animation-fill-mode: none, forwards;
}

.Toucanletter-right-left{
        position:absolute;
        left:75%;
        top:35%;

        animation-name: rightleftanimation, hideAnimation;
        animation-duration: 9000ms, 0ms;
        animation-delay: 0ms, 9000ms; /* add this */
        animation-timing-function: ease, ease-in;
        animation-iteration-count: 1, 1;
        animation-fill-mode: none, forwards;
}

.Toucanletter-up-down{
        position:absolute;
        left:75%;
        top:35%;

        animation-name: updownanimation, hideAnimation;
        animation-duration: 9000ms, 0ms;
        animation-delay: 0ms, 9000ms; /* add this */
        animation-timing-function: ease, ease-in;
        animation-iteration-count: 1, 1;
        animation-fill-mode: none, forwards;
}

.Chatletter-down-up{
        position:absolute;
        left:75%;
        top:70%;

        animation-name: downupanimation, hideAnimation;
        animation-duration: 9000ms, 0ms;
        animation-delay: 0ms, 9000ms;
        animation-timing-function: ease, ease-in;
        animation-iteration-count: 1, 1;
        animation-fill-mode: none, forwards;
}

@keyframes updownanimation {
        0% {    margin-top: 0%;
                }
        100% {
                margin-top: 20%;
                visibility: hidden;
                }
        }

@keyframes downupanimation {
        0% {    margin-top: 0%;
                }
        100% {
                margin-top: -20%;
                visibility: hidden;
                }
        }

@keyframes leftrightanimation {
        0% {    margin-left: 0%;
                }
        100% {
                margin-left: 30%;
                visibility: hidden;
                }
        }

@keyframes rightleftanimation {
        0% {    margin-left: 0%;
                }
        100% {
                margin-left: -30%;
                visibility: hidden;
                }
        }

@keyframes hideAnimation {
        to {
        visibility: hidden;
        width: 0;
        height: 0;
        }
}

#buttonResetVillage{
        position:absolute;
        left:43.5%;
        top:75%;
        font-size: 1.6em;
        border-radius: 20px;
        text-align: center;
        align-items: center;
}

#h-l-pathway{
        position: absolute;
        top: 35%;
        left: 15%;
        width: 65%;
        height: 120px;
        background-color:#bbf0e8;  
}

#v-l-pathway{
        position: absolute;
        left: 15%;
        width: 120px;
        height: 85%;
        background-color:#bbf0e8;
}

#v-s-pathway{
        position:absolute;
        top: 35%;
        left: 75%;
        width: 120px;
        height: 50%;
        background-color:#bbf0e8;       
}

#scrollsign{
        transform : rotate(90deg);
        float: right;
        margin-top: 50px;
}