body {
        background-color: #ffffff;
        padding: 40px;
        font-family: Sans-Serif;
      }

.paragraph {
        margin: 50px auto;
        width: 800px;
        font-size: 2em;
        text-align: justify;
        text-justify: inter-word;
}


.intro {
        
}