body {
        background-color: #f1fffd;
        font-family: Sans-Serif;
        margin: 0px;
        color: hsl(0, 0%, 15%);
      }

#whiteParagraph{
        height: 50rem;
        width: 30cm;
}

.paragraph {
        margin: 50px auto;
        width: 700px;
        font-size: 1.6em;
        text-align: justify;
        text-justify: inter-word;

        animation: fadeInAnimation ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;

}

@keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
         }
    }

.problem {
        margin: 30px auto;
        font-weight: 700;
        text-align: center
}

.machine {
        background-color: #3fceb8;
        color: #ffffff;
        padding: 30px;
}

.centeredscreen {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.marged{
        margin: 20px auto;
}

.centeredtext {
        text-align: center
}

.centeredelement {
        display: flex;
        align-items: center;
        justify-content: center;
}

.input{
        margin: 10px;
        border: 2px groove;
        color: #252525;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 14px;
        font-size: 1.6em;
}

.output{
        margin: 10px;
        border: 2px groove;
        color: #252525;
        padding: 15px 32px;
        text-decoration: none;
        width: 1000px;
        border-radius: 14px;
        font-size: 1.6em;
        background: #7ce0d1;
}

.button{
        margin: 10px;
        border: 2px groove;
        color: #252525;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 14px;
        font-size: 1.2em;
}

.button:hover{
        background: #3fceb8;
        color: #f1fffd;
        animation: buttonanimation ease 1s;
        border: 2px groove;
        cursor: pointer
   }

@keyframes buttonanimation {
        0% {
                background: #f1fffd;
                border: 2px groove;
                /*color: #252525;*/
        }
        50% {
                /*color: #f1fffd;*/
        }
        100% {
                background: #3fceb8;
                border: 2px groove;
                }
        }

@font-face {
        font-family: "BabyDoll";
        src: url("./fonts/BabyDoll.ttf") format("truetype")
}

.transactionLine {
        background-color: #bbf0e8;
        font-family: "BabyDoll";
        font-size: 1.6em;
        padding: 15px 32px;
        margin: 5px;
        border-radius: 50px;
        text-align: justify;
        color :#252525;
        white-space: nowrap;
}

.notValidatedLine {
        background-color: #bbf0e8;
}

.noWrap {
        display: flex;
        width: 100%;
        white-space: nowrap;
        overflow-x: auto;
        justify-content: center;
}

.villagerSprite {
        
}

.spriteWrapper {
        width: 120px;
        text-align: center;
}

.clickable:hover {
        cursor: pointer;
}

.inline{
        display : inline;
}

.list {
        display : list-item;
}